name: Update Data and Deploy

on:
  push:
    branches:
      - main  # Or 'master'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Install R dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: |
            any::jsonlite
            any::purrr

      - name: Run R script to calculate leaderboard
        run: Rscript calculate_bootstrap.R

      - name: Update date in index.html with last data update
        run: |
          COMMIT_DATE=$(git log -1 --format=%as -- predictions.json)
          sed -i "s|LAST_UPDATED_PLACEHOLDER|$COMMIT_DATE|g" index.html

      # Commit updated files back to main
      - name: Commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add leaderboard_data.json chart_data.json index.html 
          git diff-index --quiet HEAD || git commit -m "Automated leaderboard and date update"

      - name: Push changes to main
        run: git push origin main

      # Deploy site to GitHub Pages
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
